@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 14% 96%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 243 75% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243 75% 86%;
    --secondary-foreground: 243 75% 58%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 45%;
    --accent: 152 63% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --warning: 45 93% 47%;
    --warning-foreground: 30 95% 4%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 243 75% 58%;
    --radius: 0.5rem;
    --chart-1: 243 75% 58%;
    --chart-2: 152 63% 42%;
    --chart-3: 45 93% 47%;
    --chart-4: 0 84% 60%;
    --chart-5: 220 9% 45%;

    /* Sidebar Theme */
    --sidebar-background: 243 75% 58%;
    --sidebar-foreground: 231 100% 94%;
    --sidebar-accent: 245 59% 53%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-active: 246 53% 42%;
    --sidebar-active-foreground: 0 0% 100%;
    --sidebar-border: 245 59% 53%;
    --sidebar-ring: 152 63% 42%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 243 75% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243 75% 86%;
    --secondary-foreground: 243 75% 58%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 152 63% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --warning: 45 93% 47%;
    --warning-foreground: 30 95% 4%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 243 75% 58%;
    --chart-1: 243 75% 58%;
    --chart-2: 152 63% 42%;
    --chart-3: 45 93% 47%;
    --chart-4: 0 84% 60%;
    --chart-5: 215 20% 65%;

    /* Dark Sidebar Theme */
    --sidebar-background: 243 75% 58%;
    --sidebar-foreground: 231 100% 94%;
    --sidebar-accent: 245 59% 53%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-active: 246 53% 42%;
    --sidebar-active-foreground: 0 0% 100%;
    --sidebar-border: 245 59% 53%;
    --sidebar-ring: 152 63% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.pac-container {
  z-index: 9999;
}
